.app-nav {
  > ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    list-style: none;
    > li {
      > a {
        color: #b04600;
        text-decoration: none;
        font-size: 12px;
        padding: 0.1rem 0.5rem;
        max-width: 140px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        pointer-events: none;
        &:hover,
        &.active {
          color: #fff;
        }
        &:after {
          content: '';
          height: 100%;
          width: 1px;
          background-color: black;
          display: block;
          position: absolute;
          right: 0;
        }
      }
    }
  }
}