:host {
  background-color: #f6f6ef;
  display: block;
  padding-bottom: 10px;
  h3 {
    font-size: 14px;
    cursor: pointer;
    padding: 14px 3px 0px 3px;
    margin-top: 0;
  }
}
.top-story {
  background-color: #f6f6ef;
  font-size: 12px;
  padding: 3px 3px 0px 3px;
  &:first-of-type {
    padding-top: 15px;
  }
  > a {
    text-decoration: none;
    color: #828282;
    &:visited,
    &:hover,
    &:active {
      color: #828282;
    }
    > .caret {
      font-size: 10px;
    }
    > .title {
      color: black;
    }
  }
  > .extra {
    font-size: 10px;
    color: #828282;
    margin: 3px 0px 0px 28px;
    padding-bottom: 5px;
    a {
      text-decoration: none;
      color: #828282;
      &:hover,
      &:active {
        color: #828282;
        text-decoration: underline;
      }
    }
  }
}